section{
	width: 60%;
	margin: 0 auto;
}
nav{
	margin-bottom: 2%;
	text-align: center;

}

.title{
	font-size: 24px;
	text-align: center;
	margin-bottom: 2%;
	margin-top: 1%;
}

.u-full-width tbody{
	color: dodgerblue;
}
.u-full-width thead{
	color: #ebab76;
}

.row{
	display: inline-flex;
}

.search{
	min-width: 240px;
	padding-right: 10px;
	margin-right: 2%;
}
.button-primary{
	color: red;
}